body, h1 { font-family: "Raleway", Arial, sans-serif; }

h1, h2, h3 {
    letter-spacing: 6px;
    text-transform: uppercase;
    color: gray;
}
.outputs>h1 {
    position: absolute;
    top: 0;
    left: 16px;
    z-index: 99999
}

.pre { white-space: pre; }

input { margin: 8px 0 0 0; }

@media only screen and (max-width: 400px) {
    #stationlist { display: none; }
}

.chart {
    width: 1000px;
}

.inputs {
    display: block;
}
.outputs {
    display: none;
}
